@use './../../../../styles/breakpoints.scss' as *;

.my-settings {
  padding: 20px 60px 0;

  &__title {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    line-height: 36px;
    color: #fff;
  }

  &__subtitle {
    margin-top: 24px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;

    &:last-child(1) {
      margin-top: 0;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__label {
    margin-top: 18px;
    margin-bottom: 12px;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;

    background: linear-gradient(180deg, #ee8236 0%, #ff1a1e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include for-desktop {
      margin-top: 24px;
      font-size: 16px;
    }

    &:first-child {
      margin-top: 28px;

      @include for-desktop {
        margin-top: 32px;
      }
    }
  }

  &__input {
    margin: 0;
    padding: 0;
    padding: 10px 0 10px 10px;
    border-radius: 8px;

    @include for-desktop {
      min-width: 250px;
    }

    &::placeholder {
      font-size: 13px;
      line-height: 16px;
      color: #767676;

      @include for-desktop {
        font-size: 14px;
      }
    }
  }

  &__btn {
    margin: 24px 0 32px 0;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    line-height: 24px;
    border-radius: 16px;
    border: none;
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
    background: linear-gradient(180deg, #ee8236 0%, #ff1a1e 100%);
    color: #fff;
  }
}

.delete-block__warning {
  margin-top: 8px;
  font-size: 14px;
  color: #ff271f;
}

.avatar__file {
  margin: 12px 0 8px 0;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
}

.avatar__link {
  margin: 12px 0 8px 0;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
}

.avatar__input {
  border-radius: 8px;
  height: 28px;
}
