@import './breakpoints.scss';
@import './variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100vw;
  min-height: 100vh;
  color: #141414;

  @include for-desktop {
    max-width: 1280px;
  }
}
