$page-profile-box-shadow: 0 3px 200px 3px rgba(0, 0, 0, 0.2);
$profile-card-background-color: #f7f7f8;
$text-color: #050510;
$tag-year-description-color: #97979b;
$position-birthdate-color: #55555c;
$label-color: #c3c3c6;
$line: 1px solid #c3c3c6;
$link-active-input-color: #6534ff;
$content-background: #fff;
$content-border: 1px solid #ccc;
$input-border: 2px solid #6534ff;
$overlay-background: #05051016;
$list-border-bottom: 0.33px solid #c3c3c6;
